<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css.css" />
    <title>Document</title>
  </head>
  <body>
    <form action="/nico/insertPatient" method="post">
      <label for="">nom <input type="text" name="nom_patient" id="" /></label>
      <label for=""
        >prenom<input type="text" name="prenom_patient" id=""
      /></label>
      <label for=""
        >adresse<input type="text" name="adresse_patient" id=""
      /></label>
      <label for="">sexe<input type="text" name="sexe_patient" id="" /></label>
      <input type="submit" value="Button" />
    </form>
  </body>
</html>
